<h1>New Restaurant Form</h1>

<%= form_for(@restaurant) do |f| %>

  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h3>
      <ul>
        <% @restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :address %><br>
  <%= f.text_field :address %><br>

  <%= f.label :city %><br>
  <%= f.text_field :city %><br>

  <%= f.label :state %><br>
  <%= f.text_field :state %><br>

  <%= f.label :zip %><br>
  <%= f.text_field :zip %><br>

  <%= f.label :description %><br>
  <%= f.text_field :description %><br>

  <%= f.submit "Add Restaurant" %>

<% end %>
